terraform {
  required_providers {
    tfe = {
      source  = "hashicorp/tfe"
      version = ">=0.45.0"
    }
  }
}

provider "aws" {
  # Configuration options
  region = "us-east-1"
}

#Declare API key as secret variable to prevent leakage. Add .env variable. If using Terraform Cloud add Workspace variable
# with name TF_VAR_api_access_key_value for local Terraform export api_access_key_value or add a .tfvars file. 

variable "api_access_key_value" {
  type = string
  sensitive = true
}
